<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Vivian个人博客</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../../css/base.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../css/article.css"/>
<!-- 返回顶部调用 end-->
</head>
	<body>
		<header>
           <div class="logo f_l"> <a href="/"></a> </div>
           <nav id="topnav" class="f_r">
            <ul>
              <a href="../../index.html">首页</a> 
              <a href="">关于我</a> 
              <a href="article.html">文章</a>
              <a href="">心情</a>
              <a href="">相册</a> 
              <a href="">留言</a>
            </ul>
           <script src="js/nav.js"></script> 
           </nav>
        </header>
        <article>
  
  	<div class="bg">列表点赞，票数+1</div>
  <div class="article">
  
  	 <p class="tit">wxml:</p>
  	 <img src="../../images/article2/wxml.png"/>
  	 <div class="tit">js:</div>
  	 <img src="../../images/article2/2js.png"/>
  	
  </div>
  <!--r_box end --> 
</article>
<footer>
  <p class="ft-copyright">vivian博客 Design by DanceSmile 蜀ICP备11002373号-1</p>
  <div id="tbox"> <a id="togbook" href="/"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
</footer>
</body>
</html>
