<!DOCTYPE HTML>
<html>
	<head>
		<title>Directive</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<script type="text/javascript" src="../../js/up/js.js"></script>
	    <link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-wide.css" />
	
		<link rel="stylesheet" href="../../css/base.css" />
			<link rel="stylesheet" href="../../css/index.css" />
	</head>
	<body>

		<!-- Header -->
		   <header>
               <div class="logo f_l"> <a href="/"></a> </div>
               <nav id="topnav" class="f_r">
                 <ul>
                   <a href="../../index.html">首页</a>
                   <a href="#">关于我</a>
                   <a href="../article/article.html">文章</a> 
                   <a href="">心情</a> 
                   <a href="">相册</a> 
                   <a href="">留言</a>
                </ul>
    <script src="../../js/nav.js"></script> 
               </nav>
            </header>
			<div id="header">
				<span class="logo icon ">
					<img src="images/tit.jpg" style="width: 100%;height: 100%;"/>
				</span>
				<h1>	Vivian</h1>
				<p>一个程序员的自我修养。</a>
				
			</div>

		<!-- Main -->
			<div id="main">
			
				<header class="major container small">
					<h2>像我这样兴趣一望无际的人
					<br />
					你要不要了解下？
					<br />
					</h2>
					
				</header>
				
				<div class="box alt container">
					<section class="feature left">
						<a href="#" class="image icon fa-signal"><img src="images/pic01.jpg" alt="" /><p>学历</p></a>
						
						<div class="content">
							
							<p>毕业院校：电子科技大学成都学院（2014-2018）本科.</p>
							<p>专业：计算机科学与技术</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon fa-code"><img src="images/pic02.jpg" alt="" /><p>专业技能</p></a>
						<div class="content">
							<ol>
								<li>熟练使用html、css</li>
								<li>熟练使用js，jquery对dom操作</li>
								<li>熟练使用bootstrap开发响应式页面</li>
								<li>熟悉ionic</li>
								<li>熟练使用小程序开发工具开发微信小程序</li>
								<li>熟练使用git版本管理工具</li>
								<li>熟练使用ps切图</li>
							</ol>
							
						</div>
					</section>
					<section class="feature left">
						<a href="#" class="image icon fa-mobile"><img src="images/pic03.jpg" alt="" /><p>工作经历</p></a>
						<div class="content">
							
							<p>2017/06-2018/05</p>
							<p>公司：思维定制科技有限公司</p>
							<p>工作岗位：web前端工程师</p>
							<p>个人职责：负责公司的产品前端开发，持续优化前端页面性能，
							与UI人员沟通实现页面交互，与产品经理沟通项目逻辑，与后台人员沟通交流接口数据，实现前后端数据交互</p>
						</div>
					</section>
				</div>
				
				
				
				<footer class="major container small">
					<h3>项目</h3>
					<p><a href="http://www.octobercms.org/">小程序模版生成平台</a></p>
					<p><a href="../pro/pro1.html">游戏茶馆（小程序）</a></p>
					<p><a href="../pro/pro2.html">个人名片（小程序）</a></p>
				</footer>

			</div>
			
		<!-- Footer -->
			<div id="footer">
				<div class="container small">

					<header class="major last">
						<h2>联系我</h2>
					</header>

					<p>邮箱：hpe_cd_cly@163.com</p>
                    <p>微博：原来是小v啊</p>
					
				
					
					
					<ul class="copyright">
						<li>Copyright &copy; 2017.Company name All rights reserved.
					</ul>
			
				</div>
			</div>

	</body>
</html>